@model IEnumerable<Author>

<table class='table'>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
        <tr>
            <td>@author.AuthorId</td>
            <td>@author.Name</td>
            <td>@author.Email</td>
            <td>@author.Gender</td>
            @if (ViewBag.ShowActions)
            {
                <td>
                    <a asp-action="Details" asp-route-id="@author.AuthorId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@author.AuthorId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@author.AuthorId">Delete</a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>